{% include 'links.html'%}
<title>Movie</title>
<div class="col-md-4 d-flex" style="background-color: rgb(224, 103, 66);"></div>
 <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<style>
  a{
    text-decoration: none;
  }
  a:hover {
    text-shadow: 2px 2px 4px rgba(99, 241, 246, 0.5);
  }
</style>
 <a href ="/chome"><div class="text-center text-bg-dark text-danger" style="font-size:30px;"><b>SportZ <i class='fas fa-baseball-ball'></i>..<i class='fas fa-football-ball'></i> </b></div></a>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
<div class="container-fluid">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
</button>
<div class="collapse navbar-collapse" id="ftco-nav">
<ul class="navbar-nav m-auto">
  <li class="nav-item"><a href="viewcourt" class="nav-link text-warning"><b>Book Court</b></a></li>
  <li class="nav-item"><a href="viewbookings" class="nav-link text-warning"><b>Past Bookings</b></a></li>
  <li class="nav-item"><a href="logout" class="nav-link text-warning"><b>Logout</b></a></li>
</ul>
</div>
</div>
</nav>





